*{
    font-family: 'Raleway', sans-serif;
    margin: 10px;
    padding:10px;  
}
h1,h2,h3,h4{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}
em{
    text-indent: 5em;
}
body {
    border-right: #333;
    background-size: auto;
    background-color:#782221;
}
#flex-row{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: space-between;

}
.container{
    display:flex;
    flex-basis: 1600px;
    justify-content:center;
}
main{
    width: 600px;
    color: white;
}
aside{
    margin: 0px 2em auto;
    width: 900px;
    background-color: white;
    margin-block-start: -60px; 
    writing-mode: horizontal-tb;

}
nav{
    background-color: #2c1d27;
    color: white;
    display:flex;
    justify-content: space-between;
}
img{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    align-items: center;
    box-shadow:10px 10px 10px #dbc2a4
}

a{
    text-decoration: none;
    color: white;
}
h3{
    color: #2c1d27;
    background-color: #dbc2a4;
}
h4{
    color: #2c1d27;
    background: linear-gradient(to left,#dbc2a4 95%,#782221 5px);
    padding-left: 2em;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #dbc2a4;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #dbc2a4;
    display: flex;
    justify-content: center;
}
ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}
footer{
    display: flex;
    flex-direction: row-reverse;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
}
span{
    color: white;
    display: flex;
    justify-content: center;
}
strong{    
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;}
